<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <% CarSelection.makers.each_with_index do |(maker, value), index| %>
    <label>
      <% car_selection = @user.car_selections.find{|record| record.maker == maker } %>
      <%= hidden_field_tag "user[car_selections_attributes][#{index}][id]", car_selection.try(:id) %>
      <%= check_box_tag "user[car_selections_attributes][#{index}][maker]", maker, car_selection.present? && !car_selection.marked_for_destruction? %>
      <%= hidden_field_tag "user[car_selections_attributes][#{index}][_destroy]", nil %>
      <%= maker %>
    </label>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
